.container{
    width: 100%;
}

.detailsSection{
    display:flex;
    flex-direction: column;
    justify-content:  space-evenly;
    align-items: center;
}

.detailsTitle{
    color:var(--middlePurple);
    margin: 10rem 2rem;
}