:root{
    --darkBlack: #0F1819;
    --darlBlue: #101728;
    --electricBlue: #1F41BB;
    --darkPurple: #260E69;
    --middlePurple: #9340FF;
    --middlePink: #FF3C5F;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

body{
    background-color: var(--darlBlue);
}

.secondTitle{
    margin: 2rem 1rem;
    font-size: 4.5rem;
    color:white;
}

.thirdTitle{
    margin:1.5rem 0;
    font-size: 3rem;
}

.middleText{
    font-size: 2rem;
    margin:2.5rem;
}

.regularButton{
    padding: 1rem;
    margin: 4rem auto;
    background: linear-gradient(90deg, rgba(147,64,255,1) 51%, rgba(255,60,95,1) 100%);
    border-radius: 1.5rem;
    font-size: 2rem;
    text-decoration: none;
    color:white;
}

/* Estilos de la cabecera y menu de navegacion */
.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    font-size: 2rem;
    background-color:  var(--darkBlack);
    opacity: 0.8;
}

.header a{
    color:white;
}

 .logoTitle{
    text-decoration: none;
 }

.navigation{
    display: flex;
    flex-direction: row;
}

.nav-item{
    margin: 0 1rem;
    padding: 1rem;
    text-decoration: none;
}

.nav-item:active{
    border:1px solid white;
    border-radius: 0.3rem;
}

.textPurple{
    color: var(--middlePurple);
}