.projects{
    max-width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projectsText{
    width: 100%;
    padding: 10rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectsList{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.projectBox{
    width: 40%;
    margin: 5rem auto;
    padding: 2.5rem 1rem;
    border-radius:10px;
    border:1px solid var(--middlePurple);
    background: rgb(38,14,105);
    background: linear-gradient(0deg, rgba(38,14,105,1) 0%, rgba(16,23,40,1) 95%);
}


.tecnoImg{
    width: 7rem;
    /* background-color: white; */
}

.tecnoImg img{
    max-width: 5rem;
}

.projectLink {
    width: 35%;
    margin: 0 auto;
    padding: 1rem;
    background: linear-gradient(90deg, rgba(147,64,255,1) 51%, rgba(255,60,95,1) 100%);
    border-radius: 1.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.projectListImg{
    margin: 2.5rem auto;
    border-radius: 9px;
}

.slides{
    display: none;
}

.slideSelector{
    width: 100%;
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.slideSelector img{
    max-width: 20%;
    border-radius: 9px;
    border: 1px solid var(--middlePurple);
}

#captionText{
    /* width: 100%; */
    padding: 1rem;
    margin-bottom: 10rem;
    border-radius: 9px;
    display: block;
    text-align: center;
    color: white;
    background-color: var(--middlePurple);
    /* background: linear-gradient(90deg, rgba(147,64,255,1) 51%, rgba(255,60,95,1) 100%); */
}